//
//  Sandbox.xcconfig
//  MyWeather
//
//  Created by Gia Nguyen on 17/11/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

WEATHER_APP_NAME = MyWeather (Sandbox)
WEATHER_APP_VERSION = 0.1
WEATHER_APP_ID = com.mycompany.MyWeather.enterprise
